@import '../../utils/mixins.scss';

.logo {
  @include onTablet {
    height: 24px;
    width: 182px;
  }

  &__link {
    display: block;
    width: 100%;
    height: auto;
  }

  &__image {
    width: 244px;
    height: 32px;
    @include onTablet {
      height: 24px;
      width: 182px;
    }
  }
}