@import '../../utils/mixins.scss';

.marketplace {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__header {

    &-title {
      @include page-title;
    }

    &-sub-title {
      @include page-sub-title;
    }
  }

  &__nft-list {
    background-color: var(--gray3B);
    display: flex;
    flex-grow: 1;
  }
}