@mixin onMobile {
  @media (max-width: 834px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 835px) and (max-width: 1080px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1081px) and (max-width: 1200px) {
    @content;
  }
}

@mixin onDesktopLarge {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin link-underline {
  &:after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    content: '';
    height: 0;
    width: 0;
    background-color: transparent;
    transition: all 0.3s;
  }

  &:before {
    position: absolute;
    bottom: 10px;
    right: 50%;
    content: '';
    height: 0;
    width: 0;
    background-color: transparent;
    transition: all 0.3s;
  }

  &:hover {
    &:after {
      position: absolute;
      bottom: 10px;
      left: 50%;
      content: '';
      height: 2px;
      width: 40%;
      background-color: var(--white);
    }

    &:before {
      position: absolute;
      bottom: 10px;
      right: 50%;
      content: '';
      height: 2px;
      width: 40%;
      background-color: var(--white);
    }
  }
}

@mixin button-underline {
  &:after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    content: '';
    height: 2px;
    width: 0;
    background-color: transparent;
    transition: all 0.3s;
  }

  &:before {
    position: absolute;
    bottom: 10px;
    right: 50%;
    content: '';
    height: 2px;
    width: 0;
    background-color: transparent;
    transition: all 0.3s;
  }

  &:hover {
    &:after {
      position: absolute;
      bottom: 10px;
      left: 50%;
      content: '';
      height: 2px;
      width: 40%;
      background-color: var(--white);
    }

    &:before {
      position: absolute;
      bottom: 10px;
      right: 50%;
      content: '';
      height: 2px;
      width: 40%;
      background-color: var(--white);
    }
  }
}
