@mixin onMobile {
  @media (max-width: 834px) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin onDesktopLarge {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin section-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;

  @include onDesktopLarge {
    font-size: 38px;
    line-height: 46px;
  }

  @include onTablet{
    font-size: 28px;
    line-height: 40px;
  }
}

@mixin link-underline {
  &:after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    content: "";
    height: 0;
    width: 0;
    background-color: transparent;
    transition: all 0.3s;
  }

  &:before {
    position: absolute;
    bottom: 10px;
    right: 50%;
    content: "";
    height: 0;
    width: 0;
    background-color: transparent;
    transition: all 0.3s;
  }

  &:hover {
    &:after {
      position: absolute;
      bottom: 10px;
      left: 50%;
      content: "";
      height: 2px;
      width: 40%;
      background-color: var(--white);
    }

    &:before {
      position: absolute;
      bottom: 10px;
      right: 50%;
      content: "";
      height: 2px;
      width: 40%;
      background-color: var(--white);
    }
  }
}

@mixin button-underline {
  &:after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    content: "";
    height: 2px;
    width: 0;
    background-color: transparent;
    transition: all 0.3s;
  }

  &:before {
    position: absolute;
    bottom: 10px;
    right: 50%;
    content: "";
    height: 2px;
    width: 0;
    background-color: transparent;
    transition: all 0.3s;
  }

  &:hover {
    &:after {
      position: absolute;
      bottom: 10px;
      left: 50%;
      content: "";
      height: 2px;
      width: 40%;
      background-color: var(--white);
    }

    &:before {
      position: absolute;
      bottom: 10px;
      right: 50%;
      content: "";
      height: 2px;
      width: 40%;
      background-color: var(--white);
    }
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    position: absolute;
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    position: absolute;
    background: var(--primary-background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray85);
    border-radius: 20px;
    border: 3px solid var(--primary-background);
  }
}

@mixin social-link-hover {
  img {
    border-radius: 6px;
    transition: all 0.3s;
  }

  &:hover {
    img {
      background-color: var(--purple);
    }
  }
}
