@import "../../../utils/mixins.scss";

.creator-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 240px;
  width: 240px;
  background-color: var(--gray3B);
  border-radius: 20px;
  padding: 20px;

  @include onTablet {
    flex-direction: row;
    height: 100px;
    width: 330px;
  }

  @include onMobile {
    flex-direction: row;
    height: 100px;
    width: 280px;
  }

  &__number {
    &-wrapper {
      position: absolute;
      top: 20px;
      left: 20px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: var(--primary-background);
      display: flex;
      align-items: center;
      justify-content: center;

      @include onTablet {
        top: 12px;
        left: 12px;
      }
    }

    &-text {
      font-family: inherit;
    }
  }

  &__avatar {
    margin-bottom: 20px;
    width: 120px;
    height: 120px;

    @include onTablet {
      width: 60px;
      height: 60px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onTablet {
      align-items: initial;
    }
  }

  &__nick-name {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;

    @include onMobile {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__sales {
    &-text {
      line-height: 22px;
      color: var(--gray85);
      text-transform: capitalize;

      @include onMobile {
        font-size: 14px;
        line-height: 16px;
      }
    }

    &-number {
      line-height: 22px;
      color: var(--white);

      @include onMobile {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
