@import './utils//mixins.scss';

:root {
  --primary-background: #2B2B2B;
  --gray3B: #3B3B3B;
  --gray85: #858584;
  --white: #fff;
  --purple: #A259FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--primary-background);
}

body {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: var(--white);

  @include scroll-bar;
}

.container {
  padding: 80px 115px;
}

a {
  color: inherit;
  text-decoration: none;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 30px;
  }

  &__home-link {
    cursor: pointer;
    color: var(--white);
    font-weight: 600;
    border-radius: 20px;
    padding: 0 30px;
    height: 60px;
    font-family: inherit;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--purple);
  }
}
