@import '../../utils/mixins.scss'; 

.wallet-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &__title {
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }
}