@import '../../../utils/mixins.scss';

.nav {
  display: flex;
  gap: 10px;
  align-items: center;

  &__menu {
    display: flex;
    gap: 10px;
  }

  &__link {
    position: relative;
    padding: 12px 20px;
    font-weight: 600;

    @include link-underline;
  }
}
