@import "../../../utils/mixins.scss";

.marketplace {
  &__list {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 330px);
    justify-content: center;
    justify-items: center;
    column-gap: 20px;
    row-gap: 30px;

    max-height: 1800px;
    min-height: 650px;
    overflow: hidden;
    overflow-y: scroll;
    overflow: overlay;

    @include scroll-bar;

    @include onMobile {
      max-height: 650px;
      grid-template-columns: repeat(auto-fill, 280px);
    }

    &-empty-list {
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      text-transform: capitalize;
      line-height: 30px;
    }
  }
}
