@import "../../utils/mixins.scss";

.footer {
  background-color: var(--gray3B);
  border-top: 2px solid var(--primary-background);

  &__container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 1280px;

    &-inner {
      padding-bottom: 30px;
      border-bottom: 1px solid var(--gray85);
      margin-bottom: 20px;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      @include onTablet {
        flex-direction: column;
      }

      &-info {
        width: 245px;

        @include onTablet {
          width: 100%;
        }

        &-logo {
          margin-bottom: 30px;

          @include onMobile {
            margin-bottom: 20px;
          }
        }

        &-description {
          line-height: 22px;
          margin-bottom: 20px;
          color: var(--grayCC);
        }

        &-social-links {
          &-title {
            line-height: 22px;
            margin-bottom: 15px;
            color: var(--grayCC);
          }

          &-icon {
            margin-right: 10px;

            @include social-link-hover;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      &-explore {
        width: 150px;

        @include onTablet {
          width: 100%;
        }

        &-title {
          font-weight: 700;
          font-size: 22px;
          line-height: 36px;
          margin-bottom: 25px;
          font-family: var(--font-space-mono);

          @include onMobile {
            margin-bottom: 20px;
          }
        }

        &-links-wrapper {
          display: flex;
          flex-direction: column;
        }

        &-link {
          line-height: 22px;
          margin-bottom: 20px;
          color: var(--grayCC);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-subscribe {
        width: 420px;

        &-form {
          width: 100%;

          @include onTablet {
            width: 420px;
          }

          @include onMobile {
            width: 100%;
            max-width: 315px;
            flex-direction: column;
          }
        }

        @include onMobile {
          &-input {
            display: block;
            padding: 10px 20px;
            height: auto;
            margin-bottom: 16px;
          }

          &-button {
            position: relative;
            padding: 10px 20px;
            height: auto;
          }
        }

        @include onTablet {
          width: 100%;
        }

        &-title {
          font-weight: 700;
          font-size: 22px;
          line-height: 36px;
          margin-bottom: 25px;
          font-family: var(--font-space-mono);
          text-transform: capitalize;

          @include onMobile {
            margin-bottom: 20px;
          }
        }

        &-description {
          line-height: 22px;
          max-width: 330px;
          width: 100%;
          margin-bottom: 20px;
          color: var(--grayCC);

          @include onTablet {
            max-width: 100%;
          }
        }
      }
    }

    &-bottom {
      font-size: 12px;
      line-height: 13px;
      color: var(--grayCC);
    }
  }
}
