@import '../../utils/mixins.scss';

.header {
  width: 100%;
  height: var(--header-height-desktop);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-top: 15px;
    padding-bottom: 15px;
    height: var(--header-height-tablet);
  }

  @include onMobile {
    padding-left: 30px;
    padding-right: 30px;
  }
}
